@model InterviewTestTemplatev2.Models.BonusPoolCalculatorResultModel


@{
    ViewBag.Title = "Caclulate";
}

<h2>Bonus Pool Allocation</h2>

<p>The bonus pool allocation for @Html.DisplayFor(model => model.hrEmployee.Full_Name) is: £@Html.DisplayFor(model => model.bonusPoolAllocation)</p>

@Html.ActionLink("Click her to calculate for another employee", "Index")